@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

//Hải add

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.qms_btn {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}

.qms_button {
  padding: 2px;
  color: #323130;
  cursor: pointer;
}

.qms_actions {
  margin-bottom: 30px;
  display: inline-block;
  height: 100px;
  color: gray;
  overflow: auto;
}

.qms_actions::-webkit-scrollbar {
  display: none;
}

p {
  text-align: start;
}

.list {
  color: #333333;
  font-family: "Segoe UI Regular WestEuropean", "Segoe UI", Tahoma, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  line-height: 50px;
  list-style-type: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.listItem {
  color: #333333;
  vertical-align: center;
  font-family: "Segoe UI Regular WestEuropean", "Segoe UI", Tahoma, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: none;
  *zoom: 1;
  padding: 9px 28px 3px;
  position: relative;
}

.helloWorld {
  text-align: center;
  overflow: auto;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.qms_display {
  border: 1px solid #111 !important;
}

th {
  color: black;
  font-size: 12px;
  border-bottom: 1px solid #111;
  border-right: 1px solid #ddd;
  padding: 8px 2px !important;
  width: 50px !important;
}

td {
  color: black;
  font-size: 12px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px 1px !important;
  width: 50px !important;
  height: 30px !important;
}

th:last-child,
td:last-child {
  border-right: none;
}

.qms_purple {
  background-color: #ceadf6;
  padding: 10px 2px;
}

.qms_yellow {
  background-color: #f0fa6b;
}

.qms_orange {
  background-color: #f6cb7a;
}

.qms_blue {
  background-color: #9fa0f9;
}
